  <!-- open graph -->
  <meta content="title" property="og:title">
  <meta content="url" property="og:url">
  <meta content="type" property="og:type">
  <meta content="image" property="og:image">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{% if page.title %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.url }}{% endif %}">
  <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">
  <meta property="og:image" content="{% if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ site.avatar | prepend: site.url }}{% endif %}">
  <meta property="og:image:height" content="200">
  <meta property="og:image:width" content="200">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="{{ site.locale }}">
  {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    <meta property="article:author" content="{{ site.fb_admins }}">
    {% for post in site.related_posts limit:3 %}
      <meta property="og:see_also" content="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% endfor %}
  {% endif %}
  <meta property="fb:admins" content="{{ site.fb_admins }}">
  <!-- <meta property="fb:app_id" content="{{ site.fb_appid }}"> -->
  <!-- open graph -->